<div>
  <h2>Welcome back {{username}}!</h2>
  <button ng-click="testSession()">Click to go to dashboard</button>
  <div>Active Groups:</div>
  <div ng-repeat="group in groups track by $index">
   <label ng-click="checkboxChanged(group, !group[2])">
     <input
       ng-model="checked"
       ng-checked="{{group[2]}}"
       type="checkbox"
       name="selectedGroups[]"
       value="{{group[0]}}" 
     > {{group[0]}} </br>
   </label>
  </div>
  <div ng-show="groups.length === 0">You are not a member of any groups</div>
  </br><button ng-click="signOut()">Sign out</button></br>
</div>