<div>
  <h1>Welcome to our app! :-)</h1>
  <button ng-click="testSession()">click to go to dashboard</button>
  <button ng-click="signOut()">Sign out here</button>
  <div>Share Markups With:</div>
  <div ng-repeat="group in groups track by $index">
   <label ng-click="checkboxChanged(group, !group[2])">
     <input
       ng-model="checked"
       ng-checked="{{group[2]}}"
       type="checkbox"
       name="selectedGroups[]"
       value="{{group[0]}}" 
     > {{group[0]}} </br>
   </label>
  </div>
</div>